/* Styles for wine site */

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

/* great for development */

img:not([alt]),
img[alt=""] {
border: 3px  dashed Red,
}

img {
    width:100%;
}

body {
    font-size:100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    /* width:940px */
    max-width:1100px;
    margin:0 auto;
    padding:20px 0 10px;
}

#logo {
    width:240px;
}

.social {
    float:right;
    margin-top:10px; 
}

.social li {
    float:left;
    margin-left:15px;
    list-style-type:none;
}

#navbar {
    height: 50px;
    line-height:50px;
    background:brown; 
}

nav {
    /* width:940px; */
    max-width:1100px;
    margin:0 auto;
}

nav a {
    color:#fff;
}

#primary > li {
    float:left;
    width:16.66%;
    list-style-type:none;
    text-align:center;
}


#primary li a {
    text-decoration:none;
    display:block;
}

#primary li a:hover {
    background:pink;
}

.dropdown {
    display:none;
}

#primary li:hover .dropdown {
    display:block;
    position:absolute;
    background:green;
    list-style-type:none;
    width:200px;
}


#hero {
    background:red;
}

#wrapper {
    /* width:940px; */
    max-width:1100px;
    margin:20px auto;

}

.row {
margin-bottom:25px;
overflow:hidden;
}

.thirds {
/* width:300px; */
width:31.91%;
float:left;
margin-right:2.12%;
text-align:center;
padding:1.2%;
}

.thirds:last-of-type {
    margin-right: 0px;
}

.read {
    display:block;
    text-align:center;
    margin-top:8px;
    font-style:italic;
}

footer {
    height:50px;
    line-height:50px;
    border-top:1px solid #aaa;
    clear:both;

}

footer ul {
    display:flex;
    justify-content:center;
    list-style-type:none;

}

footer li {
    margin:0 15px;
}

.sticky {
    position:fixed;
    top:0;
    left:0;
    width:100%;
}

.home h1 {
    text-align:center;
    font-size:3.2em;
    line-height:1.2;
    margin-bottom:10px;
}

.home blockquote {
    text-align:center;
    font-size:1.2em;
    margin-bottom:10px;
    font-style:italic;
}

h1, h2, h3, blockquote {
    font-family:'Times New Roman', Times, serif;
}

p {
    line-height:1.4;
}

.third p {
    font-size:.8em;
    line-height: 1.2em;;
}